{namespace fengshui.templates autoescape="false"}

/**
 * Say Hello
 */
{template .helloWorld}
<div>
	Hello World!
</div>
{/template}


/**
 * Pathfinding Debug View
 */
{template .PathfindingView}
<div id="debug-pathfinding">
	<div class="canvasContainer"></div>
	<button type="button" class="display off"></button>
</div>
{/template}