// --- Image Sprites ---
$bed-sprite-dimensions: true;
$bed-layout:smart;

@import "textures/bed/*.png";
@include all-bed-sprites;

$benzai-sprite-dimensions: true;
$benzai-layout:smart;

@import "textures/benzai/*.png";
@include all-benzai-sprites;

@import "global";

.view3dContainer{
	width: 100%;
	height: 100%;
}

#debug-pathfinding{
	position: fixed;
	top: 0;
	right: 0;

	button{
		&.display{
			&.on{
				&:after{
					content: "Hide Pathfinding"
				}
			}

			&.off{
				&:after{
					content: "Show Pathfinding"
				}
			}
		}
	}
}