.bed-sprite, .bed-flat, .bed-foot-front, .bed-foot-side, .bed-head-back, .bed-head-front, .bed-head-top {
  background: url('../img/textures/bed-sef7ff244f8.png') no-repeat;
}

.bed-flat {
  background-position: -140px -74px;
  height: 256px;
  width: 155px;
}

.bed-foot-front {
  background-position: 0 0;
  height: 74px;
  width: 157px;
}

.bed-foot-side {
  background-position: 0 -330px;
  height: 82px;
  width: 315px;
}

.bed-head-back {
  background-position: 0 -74px;
  height: 59px;
  width: 140px;
}

.bed-head-front {
  background-position: -157px 0;
  height: 74px;
  width: 142px;
}

.bed-head-top {
  background-position: 0 -412px;
  height: 14px;
  width: 141px;
}

.benzai-sprite, .benzai-leaf, .benzai-root {
  background: url('../img/textures/benzai-s5e2b4c6cc3.png') no-repeat;
}

.benzai-leaf {
  background-position: 0 -30px;
  height: 58px;
  width: 100px;
}

.benzai-root {
  background-position: 0 0;
  height: 30px;
  width: 43px;
}

/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "tahomaregular";
  src: url('../font/tahoma/tahoma-webfont.eot');
  src: url('../font/tahoma/tahoma-webfont.eot?#iefix') format('eot'), url('../font/tahoma/tahoma-webfont.ttf') format('truetype'), url('../font/tahoma/tahoma-webfont.woff') format('woff'), url('../font/tahoma/tahoma-webfont.svg') format('svg');
}

html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
html.touch *, body.touch * {
  outline: none;
  outline-style: none;
  -webkit-touch-callout: none;
  /* disable callout, image save panel */
  -webkit-tap-highlight-color: transparent;
  /* "turn off" link highlight */
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  min-width: 768px;
  min-height: 640px;
}

a {
  text-decoration: none;
}

#stats {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.clearfix {
  clear: both;
}

.topLeft {
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;
  text-align: center;
  display: block;
}

.debugPanel, #debug-camera .viewPanel, #debug-camera .controlPanel {
  background-color: #d6d3ce;
  border: 2px outset #d6d3ce;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.debugHeader, #debugger > .header, #debugger .debugView > .header {
  position: relative;
  color: #fff;
  border-left: 2px outset #d6d3ce;
  border-top: 2px outset #d6d3ce;
  border-right: 2px outset #d6d3ce;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #07246b), color-stop(100%, #a5cbf7));
  background: -webkit-linear-gradient(top left, #07246b, #a5cbf7);
  background: -moz-linear-gradient(top left, #07246b, #a5cbf7);
  background: -o-linear-gradient(top left, #07246b, #a5cbf7);
  background: linear-gradient(top left, #07246b, #a5cbf7);
}

#debugger {
  position: fixed;
  top: 0;
  right: 0;
  min-width: 300px;
  font-family: "tahomaregular", Arial, Helvetica, sans-serif;
}
#debugger > .header > h4 {
  font-size: 12px;
  padding: 4px;
}
#debugger > .header > .display {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 2px 4px;
}
#debugger .debugView > .header > h5 {
  font-size: 12px;
  padding: 4px;
}
#debugger .debugView > .header > .display {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  padding: 2px 4px;
}
#debugger .debugView textarea {
  display: block;
  width: 100%;
  margin: 0;
  resize: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#debug-camera .viewPanel > div > select {
  display: inline-block;
  width: 60%;
}
#debug-camera .viewPanel > div > .use {
  display: inline-block;
  width: 40%;
}
#debug-camera .viewPanel > div > .use:before {
  content: "Use";
}
#debug-camera .viewPanel > ul {
  width: 100%;
}
#debug-camera .viewPanel > ul > li {
  margin: 8px;
  font-size: 12px;
}
#debug-camera .viewPanel > ul > li:before {
  display: inline-block;
  width: 80px;
}
#debug-camera .viewPanel > ul > li[data-prop="fov"]:before {
  content: "fov: ";
}
#debug-camera .viewPanel > ul > li[data-prop="position-x"]:before {
  content: "position.x: ";
}
#debug-camera .viewPanel > ul > li[data-prop="position-y"]:before {
  content: "position.y: ";
}
#debug-camera .viewPanel > ul > li[data-prop="position-z"]:before {
  content: "position.z: ";
}
#debug-camera .viewPanel > ul > li[data-prop="rotation-x"]:before {
  content: "rotation.x: ";
}
#debug-camera .viewPanel > ul > li[data-prop="rotation-y"]:before {
  content: "rotation.y: ";
}
#debug-camera .viewPanel > ul > li[data-prop="rotation-z"]:before {
  content: "rotation.z: ";
}
#debug-camera .viewPanel > ul > li[data-prop="target-x"]:before {
  content: "target.x: ";
}
#debug-camera .viewPanel > ul > li[data-prop="target-y"]:before {
  content: "target.y: ";
}
#debug-camera .viewPanel > ul > li[data-prop="target-z"]:before {
  content: "target.z: ";
}
#debug-camera .controlPanel > button {
  display: inline-block;
}
#debug-camera .controlPanel > button.input:before {
  content: "Input";
}
#debug-camera .controlPanel > button.output:before {
  content: "Output";
}

#main {
  width: 100%;
  height: 100%;
}

.view3dContainer {
  width: 100%;
  height: 100%;
}
