{namespace feng.templates.designcaptions autoescape="false"}

/**
 * Unlocked design caption
 */
{template .UnlockedDesignCaption}
<div class="design-caption unlocked">
	<p></p>
</div>
{/template}


/**
 * Locked design caption
 */
{template .LockedDesignCaption}
<div class="design-caption locked">
	<p></p>
</div>
{/template}