$debug_border_style:  2px outset #d6d3ce;

@mixin button($text) {
	&:before{
		content: $text;
	}
}

.debugPanel{
	background-color: #d6d3ce;
	border: $debug_border_style;
	padding: 5px;
	@include box-sizing(border-box);
};

.debugHeader{
	position: relative;
	color: #fff;
	border-left: $debug_border_style;
	border-top: $debug_border_style;
	border-right: $debug_border_style;
	@include box-sizing(border-box);
	@include background( linear-gradient(top left, #07246b, #a5cbf7) );
}

#debugger{
	position: fixed;
	top: 0;
	right: 0;
	min-width: 320px;
	max-width: 640px;
	z-index: 100;
	font-family: $font_tahoma;

	>.header{
		@extend .debugHeader;

		>h4{
			font-size: 12px;
			padding: 4px;
		}

		>.display{
			position: absolute;
			top: 0;
			right: 0;
			font-size: 14px;
			padding: 2px 4px;
			@include font-awesome("fa-eye");

			&.invisible{
				@include font-awesome("fa-eye-slash");
			}
		}
	}

	.debugView{
		>.header{
			@extend .debugHeader;

			>h5{
				font-size: 12px;
				padding: 4px;
			}

			>.display{
				position: absolute;
				top: 0;
				right: 0;
				font-size: 14px;
				padding: 2px 4px;
				@include font-awesome("fa-eye");

				&.invisible{
					@include font-awesome("fa-eye-slash");
				}
			}
		}

		textarea{
			display: block;
			width: 100%;
			margin: 0;
			resize: none;
			@include box-sizing(border-box);
		}
	}
}

#debug-pathfinding{
	.canvasContainer{
		background-color: #000;

		>canvas{
			display: block;
			width: auto;
			max-height: 450px;
		}
	}
}

#debug-camera{
	.viewPanel{
		@extend .debugPanel;
		font-size: 12px;
		
		>div{
			>select{
				display: inline-block;
				width: 60%;
			}

			>.visible{
				display: inline-block;
				width: 10%;
				@include font-awesome("fa-eye");

				&.invisible{
					@include font-awesome("fa-eye-slash");
				}
			}

			>.use{
				display: inline-block;
				width: 30%;

				@include button("Use");
			}
		}

		>ul{
			width: 100%;

			>li{
				margin: 4px;

				>label{
					display: inline-block;
					width: 60px;
				}
			}
		}
	}

}

#debug-manipulate{
	.viewPanel{
		@extend .debugPanel;
		
		>canvas{
			display: block;
			margin: 0 auto;
			width: 100%;
			height: auto;
			background-color: #000;
		}
	}
}

#debug-achievements{
	.tipsPanel{
		@extend .debugPanel;

		>ul{
			width: 100%;
			max-height: 400px;
			overflow: auto;

			>li{
				display: inline-block;
				margin: 10px;
				cursor: pointer;

				&.unlocked{
					>.icon{
						background: #66FF66;
					}
				}

				&.clicked{
					>.icon{
						border: 2px solid #555;
					}
				}

				&.required{
					>.icon{
						border: 2px dashed #555;
					}
				}

				>.icon{
					width: 80px;
					height: 80px;
					background: #999;
					@include box-sizing(border-box);
				}

				>.caption{
					>p{
						font-size: 11px;
						line-height: 16px;
						-webkit-font-smoothing: antialiased;
					}
				}
			}
		}
	}
}

#debug-pathtrack{
	.editPanel{
		@extend .debugPanel;

		.scene{
			>label{
				display: inline-block;
				vertical-align: middle;
				font-size: 12px;
				width: 20%;
			}
			
			>select{
				display: inline-block;
				vertical-align: middle;
				width: 80%;
			}
		}

		.output{
			@include button("Output");
		}
	}

	.pointPanel{
		@extend .debugPanel;

		>label{
			display: block;
			font-size: 12px;
		}

		>button{
			margin: 6px 2px;
			width: 30px;
			height: 30px;

			&.add{
				@include font-awesome("fa-plus");
				margin-left: 0;
			}

			&.remove{
				@include font-awesome("fa-minus");
			}
		}

		>ul{
			margin: 5px 0;

			>li{

				>label{
					display: inline-block;
					vertical-align: middle;
					font-size: 12px;
					min-width: 50px;
				}

				>input{
					display: inline-block;
					width: 200px;
				}
			}
		}
	}

	.playbackPanel{
		@extend .debugPanel;

		label{
			display: block;
			font-size: 12px;
		}

		.controls{
			margin-top: 6px;

			>.play{
				width: 30px;
				height: 30px;
				margin-right: 4px;
				vertical-align: middle;
				
				@include font-awesome("fa-play");

				&.paused{
					@include font-awesome("fa-pause");
				}
			}

			>.camera{
				width: 30px;
				height: 30px;
				margin-right: 4px;
				vertical-align: middle;

				@include font-awesome("fa-video-camera");

				&.fly{
					@include font-awesome("fa-plane");
				}
			}

			>input{
				vertical-align: middle;
				width: 210px;
			}
		}
	}
}