.episode-selection{
	position: relative;
	width: 100%;
	height: 100%;

	>.scene{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 100%;
		overflow: hidden;
		background-position: center center;
		background-size: cover;
		@include single-transition(width, .5s, ease-in-out);

		&.studio{
			background-image: image-url('scene-studio.jpg');
		}

		&.house{
			background-image: image-url('scene-house.jpg');
		}

		&.active{
			width: 60%;

			.shade{
				opacity: 0;
			}

			.disc{
				opacity: 1;
				visibility: visible;
				@include transition-delay(.20s);

				.outer, .inner{
					@include scale(1);
				}

				.outer{
					@include transition-delay(.20s);
				}

				.inner{
					@include transition-delay(.35s);

					.content{
						>.location{
							@include animation( fade-in-up .75s $easeOutCubic both );
							@include animation-delay(.45s);
						}

						>h1{
							@include animation( fade-in-up .65s $easeOutCubic both );
							@include animation-delay(.55s);
						}

						>p{
							@include animation( fade-in-up .55s $easeOutCubic both );
							@include animation-delay(.65s);
						}

						>.primary-button{
							@include animation( fade-in-up .45s $easeOutCubic both );
							@include animation-delay(.75s);
						}
					}
				}
			}
		}

		&.inactive{
			width: 40%;

			.shade{
				opacity: .7;
			}
		}

		&:not(.active){
			.disc{
				opacity: 0;
				visibility: hidden;

				.outer, .inner{
					@include scale(0);
				}
			}
		}

		&:not(.active, .inactive){
			.shade{
				opacity: .5;
			}
		}

		>.shade{
			@include absoluteTopLeft;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: .5;
			@include single-transition(opacity, .75s, ease-out);
			@include translateZ(0);
		}

		>.prompt{
			@include absoluteTopLeft;
			top: 50%;
			left: 50%;

			>.disc{
				@include disc( 400px );
				@include translateZ(0);
				@include transition-property(opacity, visibility);
				@include transition-timing-function($easeInOutSine);
				@include transition-duration(.50s);

				.outer, .inner{
					@include transition-property(transform);
					@include transition-timing-function($easeInOutSine);
				}

				.outer{
					@include transition-duration(.50s);
				}

				.inner{
					background-color: rgba(255, 255, 255, .95);
					@include transition-duration(.40s);
				}

				.content{
					text-align: center;

					>.location{
						margin-top: -5px;

						>p{
							font-family: $font_marineup_light;
							font-size: 1.2em;
							color: $gray;
							line-height: 1.5;
							opacity: .5;
						}
						>.line{
							margin: 8px auto;
							width: 100px;
							height: 1px;
							background-color: $gray;
							opacity: .2;
						}
					}

					>h1{
						font-size: 3.8em;
						color: $darkgray-ui;
					}

					>p{
						display: block;
						margin: 1em auto 1.5em auto;
						width: 280px;
						font-size: 1.6em;
						color: $lightgray-ui;
						line-height: 1.6;
					}

					>.primary-button{
						margin: 0 auto;
						width: 180px;
					}
				}
			}
		}

		>.tutorial{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -43em;
			margin-top: -25em;
		}

	}

	>.prompt{
		position: absolute;
		top: 50%;
		left: 50%;
		@include single-transition(left, .5s, $easeInOutSine);

		&.active{

			.disc{
				opacity: 0;
				visibility: hidden;

				.outer, .inner{
					@include scale(0);
				}
			}

			&.studio{
				left: 60%;
			}

			&.house{
				left: 40%;
			}

			.question{
				display: none;
			}
			
			.arrows{
				display: block;
			}
		}

		&:not(.active){

			.disc{
				opacity: 1;
				visibility: visible;
				@include transition-delay(.20s);

				.outer, .inner{
					@include scale(1);
				}

				.outer{
					@include transition-delay(.20s);
				}

				.inner{
					@include transition-delay(.35s);
					/*
					.content{
						>.location{
							@include animation( fade-in-up .75s $easeOutCubic both );
							@include animation-delay(.45s);
						}

						>h1{
							@include animation( fade-in-up .65s $easeOutCubic both );
							@include animation-delay(.55s);
						}

						>p{
							@include animation( fade-in-up .55s $easeOutCubic both );
							@include animation-delay(.65s);
						}

						>.primary-button{
							@include animation( fade-in-up .45s $easeOutCubic both );
							@include animation-delay(.75s);
						}
					}
					*/
				}
			}

			.question{
				display: block;
			}

			.arrows{
				display: none;
			}
		}

		>.disc{
			@include disc( 400px );
			@include translateZ(0);
			@include transition-property(opacity, visibility);
			@include transition-timing-function($easeInOutSine);
			@include transition-duration(.50s);
			text-align: center;
			color: $gray;

			.outer, .inner{
				@include transition-property(transform);
				@include transition-timing-function($easeInOutSine);
			}

			.outer{
				@include transition-duration(.50s);
			}

			.inner{
				@include transition-duration(.40s);
			}

			.question{
				.fengshui-logo{
					margin: 0 auto 1em auto;
					width: 5em;
					height: 5em;
					background-size: 100% 100%;
					background-image: image-url('house-logo.png');
				}

				h1{
					font-size: 2em;
					line-height: 1.4;
					font-family: $font_marine !important;

					>b{
						display: block;
						font-size: 1.2em;
						line-height: 2;
						text-transform: uppercase;
						color: $darkgray-ui;
						font-family: $font_marineup !important;
					}
				}

				h2{
					font-size: 1.3em;
					margin-top: 2em;

					>.arrow{
						position: relative;
						display: inline-block;
						vertical-align: top;
						top: -1px;
						font-size: 25px;
						opacity: .4;

						&.left{
							margin-right: 20px;
							@extend .icon;
							@extend .icon-prev;
						}

						&.right{
							margin-left: 20px;
							@extend .icon;
							@extend .icon-next;
						}
					}
				}
			}

			.arrows{

			}
		}

		>.fengshui-logo{
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -50px;
			width: 100px;
			height: 100px;

			.frame{
				display: none;
			}
		}
	}
}