.episode-selection{
	width: 100%;
	height: 100%;

	>.scene{
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 50%;
		height: 100%;
		overflow: hidden;
		@include single-transition(width, .5s, $easeInOutSine);

		>.background{
			@include absoluteTopLeft;
			width: 100%;
			height: 100%;
			background-position: center center;
			background-size: cover;
		}

		>.shade{
			@include absoluteTopLeft;
			width: 100%;
			height: 100%;
			background-color: #000;
			opacity: .5;
			@include single-transition(opacity, .5s, $easeInOutSine);
			@include translateZ(0);
		}

		>.overlay{
			position: absolute;
			top: 0;
			left: 50%;
			margin-top: 0;
			margin-left: -300px;
			width: 600px;
			height: 100%;
			overflow: hidden;

			>.prompt{
				@include absoluteTopLeft;
				top: 50%;
				left: 50%;

				>.disc{
					@include disc( 300px );

					.content{
						text-align: center;

						>.location{
							margin-top: -5px;

							>p{
								font-family: $font_marineup_light;
								font-size: 10px;
								color: $gray;
								line-height: 11px;
								letter-spacing: 1px;
								opacity: .5;
							}
							>.line{
								margin: 8px auto;
								width: 100px;
								height: 1px;
								background-color: $gray;
								opacity: .2;
							}
						}

						>h1{
							font-size: 18px;
							color: $darkblue;
							line-height: 24px;
							letter-spacing: 1px;
						}

						>p{
							font-size: 13px;
							color: $gray;
							line-height: 16px;
							letter-spacing: 1px;
							margin: 18px auto;
						}

						>.primary-button{
							margin: 0 auto;
							width: 120px;
							@include translateZ(0px);
						}
					}
				}
			}

			>.people{

			}
		}

		>.tutorial{
			position: absolute;
			left: 50%;
			top: 50%;
			margin-left: -43em;
			margin-top: -25em;
		}

		&.studio{
			>.background{
				background-image: image-url('scene-studio.jpg');
			}
		}

		&.house{
			>.background{
				background-image: image-url('scene-house.jpg');
			}
		}

	}

	>.prompt{
		position: absolute;
		top: 50%;
		left: 50%;
		@include single-transition(left, .5s, $easeInOutSine);

		>.disc{
			@include disc( 240px );
			text-align: center;
			color: $gray;

			.fengshui-logo{
				margin: -24px auto 18px auto;
				width: 38px;
				height: 38px;
			}

			h1{
				font-size: 18px;
				line-height: 24px;
				letter-spacing: 1px;

				>a{
					color: $darkblue;
				}
			}

			h2{
				margin-top: 13px;
				font-size: 13px;
				line-height: 24px;

				>.arrow{
					position: relative;
					display: inline-block;
					vertical-align: top;
					top: -1px;
					font-size: 25px;
					opacity: .4;

					&.left{
						margin-right: 20px;
						@extend .icon;
						@extend .icon-prev;
					}

					&.right{
						margin-left: 20px;
						@extend .icon;
						@extend .icon-next;
					}
				}
			}
		}

		>.fengshui-logo{
			position: absolute;
			top: 50%;
			left: 50%;
			margin: -50px;
			width: 100px;
			height: 100px;

			.frame{
				display: none;
			}
		}
	}
}