/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// --- imports ---
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "retina";
@import "fonts";
@import "icons";

@at-root {
  @import "animations";
}

// --- Global vars ---
$min_width: 1024px;
$min_height: 640px;
$darkblue: #1D435D;
$cream: #FFFDF1;
$brown: #D9CBB5;
$gray: #969696;
$red: #e2443a;
$yellow: #e3cc76;
$black: #3d3e39;
$gray-ui: #8a8a8a;
$yellow-ui: #fdf1ba;

$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);


@mixin absoluteTopLeft() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absoluteTopRight() {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin disc($size) {
  position: absolute;
  width: 0;
  height: 0;

  >.outer{
    position: absolute;
    left: - $size / 2;
    top: - $size / 2;
    width: $size;
    height: $size;
    background-color: rgba(255, 255, 255, .5);
    @include border-radius(50%);
  }

  >.inner{
    display: table;
    position: absolute;
    left: - ($size - 10px) / 2;
    top: - ($size - 10px) / 2;
    width: $size - 10px;
    height: $size - 10px;
    background-color: #fff;
    @include border-radius(50%);
    @include single-box-shadow(1px, 1px, 2px, 0px, rgba(0, 0, 0, .14));

    >.content{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@mixin roundButton($size, $border_size:7px){
  position: relative;
  width: $size;
  height: $size;
  background-color: rgba(255, 255, 255, .25);
  @include border-radius(50%);
  @include single-transition(opacity, .25s, ease-out);

  &:hover{
    >.outline{
      @include scale(1);
      opacity: 1;
    }
  }

  &.disabled{
    opacity: .5;

    >.outline{
      opacity: 0;
    }
  }

  >.outline{
    position: absolute;
    top: 0;
    left: 0;
    width: $size;
    height: $size;
    border: $border_size solid $gray-ui;
    @include border-radius(50%);
    @include box-sizing(border-box);
    @include transition(transform .2s ease-in-out, opacity .35s ease-in-out);
    @include scale(0.95);
    opacity: 0;
  }

>.circle{
    position: absolute;
    display: table;
    top: $border_size;
    left: $border_size;
    width: $size - $border_size * 2;
    height: $size - $border_size * 2;
    background-color: #fff;
    overflow: hidden;
    @include border-radius(50%);
    @include single-box-shadow(1px, 1px, 2px, 0px, rgba(0, 0, 0, .14));

    >.circle-content{
      display: table-cell;
      vertical-align: middle;
    }
  }
}

@mixin popup($padding, $box-shadow: none, $color: $darkblue) {
  @extend %bordered-ui;
  display: table;
  @include transition( opacity .25s, visibility .25s );

  >.content{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
  }

  &.from-bottom{
    opacity: 0;
    visibility: hidden;
    @include animation( popup-to-bottom .25s ease-out both );

    &.shown{
      opacity: 1;
      visibility: visible;
      @include animation( popup-from-bottom 1000ms linear both );
    }
  }
}

@mixin chromeOSDefaultCursor() {
  cursor: url(../cursor/default.cur) 8 8, default;
}

@mixin chromeOSPointerCursor() {
  cursor: url(../cursor/pointer.cur) 20 9, pointer;
}

@mixin chromeOSGrabCursor() {
  cursor: url(../cursor/grab.cur) 28 28, -webkit-grab;
}

@mixin chromeOSGrabbingCursor() {
  cursor: url(../cursor/grabbing.cur) 28 28, -webkit-grabbing !important;
}

@mixin chromeOSHelpCursor() {
  cursor: url(../cursor/help.cur) 8 8, help;
}

// place holder styles
%bordered-ui{
  position: relative;
  background-color: #fff;
  @include border-radius( 6px );
  @include box-shadow( 0 0 0 7px rgba(255, 255, 255, .25), 1px 1px 2px 0px rgba(0, 0, 0, .14) );
  @include user-select(none);

  h1, h2, h3, h4, h5, h6{
    color: #626262;
  }

  p{
    color: #9a9a9a;
  }
}

%arrow-left{
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-left: -20px;
    margin-top: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 20px 11px 0;
    border-color: transparent #ffffff transparent transparent;
  }
}

%arrow-right{
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -11px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 20px;
    border-color: transparent transparent transparent #ffffff;
  }
}

%arrow-bottom{
  &:before{
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 11px 0 11px;
    border-color: #ffffff transparent transparent transparent;
  }
}

%arrow-bottom-right{
  &:before{
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    margin-right: 4em;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 11px 0 11px;
    border-color: #ffffff transparent transparent transparent;
  }
}

%arrow-button{
  @include border-radius(100%);
  border: 2px solid $gray-ui;
  color: $gray-ui;
  width: 1em;
  height: 1em;
  background-color: transparent;
  @include background-clip(border-box);
  @include transition(opacity .25s, color .25s, background-color .25s, transform .1s);

  &:before{
    display: block;
    font-size: .5em;
  }
  
  &:hover, &:active{
    color: #fff;
    background-color: $gray-ui;
  }

  &:hover{
    opacity: .8;
  }

  &:active{
    opacity: .4;
    @include scale(.85);
  }
}

@mixin arrow-button($size:1em, $color:$gray-ui) {

  @extend %arrow-button;
  font-size: $size;
  color: $color;
  border-color: $color;

  &:hover, &:active{
    background-color: $color;
  }
}
//


html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: $font_system;
  
  &.touch{
    *{
      outline: none;
      outline-style: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      @include user-select('none');
    }
  }
}

body{
  min-width: $min-width;
  min-height: $min-height;
  font-size: 62.5%;
}

#main{
  @include chromeOSDefaultCursor;
  
  h1, h2{
    font-family: $font_marineup;
    text-transform: camelcase;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
  }

  h3, h4, h5, h6{
    font-family: $font_marine;
    text-transform: camelcase;
    letter-spacing: 0.025em;
    -webkit-font-smoothing: antialiased;
  }

  p{
    font-family: $font_marine_light;
    letter-spacing: 0.05em;
  }

  q{
    font-family: $font_marine_light;
    font-style: italic;
    letter-spacing: 0.05em;
  }

  a{
    color: inherit;
    text-decoration: none;
    @include chromeOSPointerCursor;
  }

  button{
    display: block;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    @include appearance(none);
    @include chromeOSPointerCursor;
  }

  &.grab, .grab {
    @include chromeOSGrabCursor;
  }

  &.grabbing, .grabbing{
    @include chromeOSGrabbingCursor;

    *{
      @include chromeOSGrabbingCursor;
    }
  }

  &.help, .help{
    @include chromeOSHelpCursor;
  }

  .popup{
    @include popup( $padding: 23px 20px, $box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.15) );

    >.close-button{
      position: absolute;
      top: 23px;
      right: 20px;
    }

    @import "popup";
  }

  .primary-button{
    position: relative;
    display: block;
    font-family: $font_marineup;
    text-align: center;
    line-height: 0;
    letter-spacing: .025em;
    color: $gray-ui;
    overflow: hidden;
    border: 2px solid $gray-ui;
    vertical-align: middle;
    font-size: 3em;
    padding: 1em 1.1em;
    @include border-radius( 40px );
    @include box-sizing( border-box );
    @include transition( color .4s $easeInOutCirc, background-color .2s );

    &.small{
      font-size: 1.8em;
      min-width: 4.4em;
      padding: .8em .7em;
    }

    >.icon{
      display: inline-block;
      vertical-align: middle;
      width: 0;
      color: $yellow-ui;
      text-align: center;
      line-height: 0;
      margin-left: -.2em;
      margin-right: .2em;
      opacity: 0;
      @include translateX( -2em );
      @include transition( transform .25s, width .25s, opacity .25s );
    }

    &:hover{
      color: #fff;
      background-color: $gray-ui;

      >.icon{
        @include translateX( 0px );
        width: 1em;
        opacity: 1;
      }
    }
  }

  .close-button{
    width: 40px;
    height: 40px;

    >div{
      @include absoluteTopLeft;

      &.circle{
        @include retina-ui("close-circle");
        @include single-transition(transform, .25s, ease-out);
        @include scale(0);
      }

      &.icon{
        width: 100%;
        height: 100%;
        @include single-transition(transform, .5s);
        @include scale(1);

        >div{
          @include absoluteTopLeft;
          @include single-transition(opacity, .25s, ease-out);

          &:first-child{
            @include retina-ui("close");
            opacity: 1;
          }

          &.lighter{
            @include retina-ui("close-lighter");
            opacity: 0;
          }
        }
      }
    }

    &:hover{
      >div{
        &.circle{
          @include scale(1);
        }

        &.icon{
          @include scale(.8);

          >div{
            &:first-child{
              opacity: 0;
            }

            &.lighter{
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .fengshui-logo{

    >.symbol{
      position: relative;
      margin: 0 auto;

      >div{
        @include absoluteTopLeft;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;

        &.needle{
          @include single-transition(transform, 2s, $easeInOutSine);
          background-image: image-url('logo/needle.png');
        }

        &.frame{
          @include single-transition(transform, .5s, $easeInOutSine);
          background-image: image-url('logo/frame.png');
        }
      }
    }

    >h1{
      position: relative;
      display: block;

      >div{
        @include absoluteTopLeft;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        font-size: 0;

        &.line1{
          background-image: image-url('logo/line-1.png');
        }

        &.line2{
          background-image: image-url('logo/line-2.png');
        }
      }
    }
  }

}