/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// --- imports ---
@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";
@import "retina";
@import "fonts";

// --- Global vars ---
$min_width: 1024px;
$min_height: 640px;
$green: #65BB99;
$cream: #FFFDF1;
$brown: #D9CBB5;
$gray: #969696;
$red: #e2443a;
$yellow: #e3cc76;
$black: #3d3e39;

$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);


html, body{
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: $font_system;
  
  &.touch{
    *{
      outline: none;
      outline-style: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color: transparent;
      @include user-select('none');
    }
  }
}

body{
  min-width: $min-width;
  min-height: $min-height;
}

a{
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
  text-transform: uppercase;
}

button{
  display: block;
  border: none;
  outline: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;

  &:active, &:focus{
    outline: none;
    border: none;
  }
}

.grab {
  cursor: url(../cursor/openhand.cur) 4 4, move;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.grabbing{
  cursor: url(../cursor/closedhand.cur) 4 4, move !important;
  cursor: -webkit-grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -o-grabbing !important;
  cursor: -ms-grabbing !important;
  cursor: grabbing !important;
}

.help{
  cursor: help;
}

.button{
  @include user-select(none);
  cursor: pointer;
  text-align: center;
}

.primary-button{
  @extend .button;
  position: relative;
  display: block;
  font-family: $font_marineup_light;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 16px;
  color: $green;
  overflow: hidden;
  border: 2px solid $green;
  @include border-radius( 40px );
  @include box-sizing( border-box );
  @include transition( color .4s $easeInOutCirc, background-color .2s, text-indent .25s );

  >.icon{
    position: absolute;
    color: $cream;
    line-height: 18px;
    text-indent: 0;
    @include translateY( -18px - 12px );
    @include single-transition( transform, .25s );

    &.yes{
      @include font-awesome( "fa-check" );
    }
  }

  &:hover{
    color: $cream;
    background-color: $green;
    text-indent: 18px;

    >.icon{
      @include translateY( 0px );
    }
  }
}


@mixin absoluteTopLeft() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin absoluteTopRight() {
  position: absolute;
  top: 0;
  right: 0;
}

@mixin disc($size) {
  position: absolute;
  width: 0;
  height: 0;

  >.outer{
    position: absolute;
    left: - $size / 2;
    top: - $size / 2;
    width: $size;
    height: $size;
    background-color: rgba(255, 255, 255, .5);
    @include border-radius(50%);
  }

  >.inner{
    position: absolute;
    left: - ($size - 10px) / 2;
    top: - ($size - 10px) / 2;
    width: $size - 10px;
    height: $size - 10px;
    background-color: #fff;
    @include border-radius(50%);
    @include single-box-shadow(rgba(0, 0, 0, .14), 1px, 1px, 2px);
  }
}