>.inner{
	position: relative;
	width: 100%;
	height: 100%;
	
	>section{
		@include absoluteTopLeft;
		width: 100%;
		height: 100%;
	}
}

#main-preloader{
	display: table;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FDFCFC;
	z-index: 2;

	>.content{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		width: 100%;
		height: 100%;

		>h1{
			font-family: $font_marineup_bold;
			font-size: 24px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: $darkgray-ui;
		}

		>.house-logo{
			width: 150px;
			height: 150px;
			margin: 2.5em 0 4em 0;
		}

		>p{
			color: $lightgray-ui;
			font-size: 1.7em;
			opacity: .5;

			>span{
				display: block;
			}
		}
	}
}

#main-episode-selection{
	z-index: 1;
}