&{
	>.close-button{
		@include arrow-button( 4.8em, $darkgray-ui, transparent, #fff, $darkgray-ui );
	}

	>.content{

		h1{
			font-size: 4em;
			line-height: 1.2;
		}

		h2{
			font-size: 2em;
			line-height: 1.2;
		}

		p{
			font-size: 1.7em;
			color: $lightgray-ui;

			>br{
				line-height: 3em;
			}
		}
	}
}

&.tutorial{
	width: 62em;
	height: 62em;
	@include border-radius(100%);

	>.content{
		padding: 4.2em;
		@include box-sizing(border-box);
		text-align: center;

		>.subtitle{
			margin-top: -5px;

			>p{
				font-family: $font_marineup_light;
				font-size: 1.2em;
				color: $gray;
				line-height: 0 !important;
				margin: 1em auto 1.5em auto;
				opacity: .5;
			}

			>.line{
				margin: 0 auto 10px auto;
				width: 100px;
				height: 1px;
				background-color: $gray;
				opacity: .2;
			}
		}

		>.title{
			position: relative;
			height: 8em;

			>li{
				@include absoluteTopLeft;
				width: 100%;
				opacity: 1;
				visibility: visible;
				@include transition(opacity .4s $easeOutCubic, visibility .4s);
				@include transition-delay(.25s);

				>h1{
					font-size: 2.8em;
					color: $darkgray-ui;
				}

				&:not(.active){
					opacity: 0;
					visibility: hidden;
					@include transition-delay(0s);
				}
			}
		}

		>.instructions{
			position: relative;
			margin: 3em auto;
			padding-bottom: 35%;
			width: 100%;
			height: 0;

			>button{
				position: absolute;
				top: 50%;
				margin-top: (-2.25em/4.5);
				@include arrow-button( 4.5em, $lightgray-ui, transparent, #fff, $blue );
				border-color: transparent;
				z-index: 1;

				&.prev{
					left: 0;	
				}

				&.next{
					right: 0;
				}

				&:disabled{
					visibility: hidden;
				}
			}

			>.steps{
				position: absolute;
				width: 100%;
				height: 100%;

				>li{
					@include absoluteTopLeft;
					width: 100%;
					height: 100%;
					text-align: center;
					opacity: 1;
					visibility: visible;
					@include transition(opacity .4s $easeOutCubic, visibility .4s);
					@include transition-delay(.55s);

					>video{
						display: inline-block;
						height: 100%;
					}

					&:not(.active){
						opacity: 0;
						visibility: hidden;
						@include transition-delay(.10s);
					}
				}
			}
		}

		>.controls{
			width: 100%;
			height: 8em;
			opacity: 1;
			visibility: visible;
			@include transition(opacity .5s $easeInOutCubic, visibility .5s, transform .25s);
			@include transition-delay(1s);

			.loader{
				text-align: center;

				>.bar{
					margin: 0 auto 20px auto;
					width: 257px;
					height: 1px;
					background-color: #F0E8D9;

					>.fill{
						margin: 0 auto;
						width: 0;
						height: 100%;
						background-color: $darkgray-ui;
					}
				}

				>.counter{
					text-transform: uppercase;
					font-family: $font_marine;
					font-weight: bold;
					font-size: 14px;
					line-height: 14px;
					color: $darkgray-ui;
				}
			}

			.skip{
				margin: 0 auto;
			}

			&.hidden{
				opacity: 0;
				visibility: hidden;
				@include translateY(10px);
			}
		}
	}
}

&.credits{
	width: 86em;
	height: 64em;

	>.content{
		padding: 4.2em;
		@include box-sizing(border-box);

		>h1{
			text-align: center;
		}

		>.scroller{
			position: relative;
			margin-top: 2.4em;
			width: 100%;
			height: 40em;
			overflow: hidden;
			background-color: #fff;
			@include box-sizing(border-box);

			&:before{
				content: "";
				position: absolute;
				top: 0;
				display: block;
				width: 100%;
				height: 50px;
				@include background-image(linear-gradient(to top, rgba(#fff,0) 0%, rgba(#fff,1) 100%));
				pointer-events: none;
			}

			&:after{
				content: "";
				position: absolute;
				bottom: 0;
				display: block;
				width: 100%;
				height: 50px;
				@include background-image(linear-gradient(to top, rgba(#fff,1) 0%, rgba(#fff,0) 100%));
				pointer-events: none;
			}

			>.scrollbar{
				z-index: 1;
			}

			>.content{
				display: block;
				width: 100%;
				height: 100%;
				padding-right: 50px;
				overflow-x: hidden;
				overflow-y: scroll;

				*{
					@include user-select(text);
				}

				>section{
					margin: 6.4em 0;
					font-size: .9em;

					h2{
						font-size: 2.4em;
						line-height: 1.4;
						font-family: $font_marineup_bold;
						text-transform: uppercase;
					}

					li{
						margin: 1.4em 0;

						>h3{
							display: inline;
							font-size: 2em;
							line-height: 1;
						}

						>p{
							display: inline;
							margin-left: .5em;
							line-height: 1;
							font-style: italic;
						}
					}

					.logo{
						display: block;
						margin-top: 5px;
						font-size: 0;
						@include retina-ui("graceux");
					}

					.info-container{
						margin-top: 2em;
						width: 60%;
					}
				}
			}
		}

		>.primary-button{
			margin: 1em auto 0 auto;
		}
	}

	&.loading{
		background-image: image-url("loader-small-black.gif");
		background-repeat: no-repeat;
		background-position: center;
	}
}

&.opening, &.ending, &.finale{
	width: 85em;
	min-height: 40em;

	>.content{
		padding: 9em 8em 6em 8em;

		>h1{
			position: relative;
			z-index: 1;
			width: 65%;
		}

		>h2{
			position: relative;
			z-index: 2;
			width: 65%;
		}

		>p{
			position: relative;
			z-index: 3;
			width: 65%;
			padding: 2em 0 2em 0;
		}

		>button{
			position: relative;
			z-index: 3;
		}

		>.character{
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			width: 40%;
			height: 100%;
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: auto 95%;
		}
	}
}

&.opening{

	.character{

			&.ollie{
				background-image: image-url('character/ollie-open.png');
			}

			&.nick{
				background-image: image-url('character/nick-open.png');
			}

			&.joanna{
				background-image: image-url('character/joanna-open.png');
			}

			&.scott{
				background-image: image-url('character/scott-open.png');
			}
	}
}

&.ending{

	.character{
		
			&.ollie{
				background-image: image-url('character/ollie-open.png');
			}

			&.family{
				background-image: image-url('character/nick-open.png');
			}
	}
}