&{
	>.content{

		h1{
			font-size: 4.2em;
			line-height: 1.2;
			text-transform: capitalize;
		}

		h2{
			font-size: 2em;
			line-height: 1.2;
			text-transform: uppercase;
		}

		p{
			font-size: 1.6em;
			color: $lightgray-ui;
			line-height: 1.5;

			>br{
				line-height: 2em;
			}
		}
	}
}

&.tutorial{
	width: 86em;
	height: 50em;

	>.close-button{
		display: none;
	}

	>.content{
		padding: 4.6em;
		@include box-sizing(border-box);

		>h1{
			font-size: 4em;
			line-height: 1;
			text-align: center;
		}

		>.steps{
			margin-top: 5em;
			width: 100%;
			text-align: center;
			white-space: nowrap;

			>li{
				position: relative;
				display: inline-block;
				vertical-align: top;
				margin: 0 4%;
				padding-bottom: 27.5%;
				width: 27.5%;
				height: 0;
				border: 1px solid $gray-ui;
				@include box-sizing( border-box );
				opacity: .4;
				@include single-transition(opacity, .5s);

				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}

				&.active, &:hover{
					opacity: 1;
				}

				>h6{
					position: relative;
					z-index: 1;
					padding: 1em 2em;
					text-transform: uppercase;
					white-space: normal;
					text-align: center;
					font-size: 1.6em;
					line-height: 1.25;
					color: $gray-ui;
				}

				>.video-wrapper{
					position: absolute;
					top: 0;
					width: 100%;
					height: 100%;
					text-align: center;

					>video{
						margin-top: 40%;
						display: inline-block;
						max-width: 100%;
						background-color: #fff;
					}
				}
			}
		}

		>.controls{
			width: 100%;
			margin-top: 3.8em;
			height: 6em;

			.loader{
				text-align: center;

				>.bar{
					margin: 0 auto 20px auto;
					width: 257px;
					height: 1px;
					background-color: #F0E8D9;

					>.fill{
						margin: 0 auto;
						width: 0;
						height: 100%;
						background-color: $darkblue;
					}
				}

				>.counter{
					font-family: $font_marineup_light;
					font-size: 18px;
					color: $darkblue;
					line-height: 18px;
					letter-spacing: 2px;

					&:after{
						content: "%";
						font-size: 12px;
					}
				}
			}

			.skip{
				margin: 0 auto;
			}
		}
	}
}

&.opening, &.ending, &.finale{
	width: 80em;
	min-height: 40em;

	>.content{
		padding: 9em 8em 6em 8em;

		>h1{
			position: relative;
			z-index: 1;
			width: 65%;
		}

		>h2{
			position: relative;
			z-index: 2;
			width: 65%;
		}

		>p{
			position: relative;
			z-index: 3;
			width: 65%;
			padding: 1em 0 2em 0;
		}

		>button{
			position: relative;
			z-index: 3;
		}

		>.character{
			position: absolute;
			z-index: 0;
			top: 0;
			right: 0;
			width: 40%;
			height: 100%;
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: auto 95%;
		}
	}
}

&.opening{

	.character{

			&.ollie{
				background-image: image-url('character/ollie-open.png');
			}

			&.nick{
				background-image: image-url('character/nick-open.png');
			}

			&.joanna{
				background-image: image-url('character/joanna-open.png');
			}

			&.scott{
				background-image: image-url('character/scott-open.png');
			}
	}
}

&.ending{

	.character{
		
			&.ollie{
				background-image: image-url('character/ollie-open.png');
			}

			&.family{
				background-image: image-url('character/nick-open.png');
			}
	}
}