>.tutorial-overlay{
	@include absoluteTopLeft;

	>.tutorial{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: (-86em / 2);
		margin-top: (-50em / 2);

		.loader{
			display: none !important;
		}
	}
}

>.credits-overlay{
	@include absoluteTopLeft;

	>.credits{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: (-86em / 2);
		margin-top: (-64em / 2);
	}
}

>.opening-overlay,
>.ending-overlay,
>.finale-overlay{
	@include absoluteTopLeft;

	.content{
		>.primary-button{
			display: inline-block;
			vertical-align: top;

			&.next{
				margin-left: 1em;
			}
		}
	}
}

>.opening-overlay,
>.ending-overlay{
	.close-button{
		display: none;
	}
}

>.opening-overlay{
	background-color: rgba(0, 0, 0, .65);
}

>.finale-overlay{

	h1{
		line-height: 2;
	}

	h1, h2, p, ul{
		text-align: center;
		margin: 0 auto;
	}

	li{
		display: inline-block;
		vertical-align: top;
		margin: 1.5em .65em;

		&:first-child{
			margin-left: 0;
		}

		>a{
			@extend %round-social-button;
			font-size: 3em;
		}
	}
}

>.loader-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.loader{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -120px;
		margin-top: -120px;
		width: 240px;
		height: 240px;

		>.spinner{
			display: block;
			margin: 0 auto;
		}

		>.progress{
			display: block;
			width: 100%;
			text-align: center;
			font-size: 40px;
			line-height: 60px;
			color: #fff;
		}
	}
}