.pictureSelector{
	position: relative;
	width: 400px;
	height: 236px;

	>.pictureView{
		display: inline-block;
		vertical-align: top;
		width: 312px;
		height: 236px;
		padding: 10px 0;
		overflow: hidden;

		>ul{
			position: relative;
			width: 100%;

			>li{
				position: absolute;

				&.inactive{
					
				}

				>img{
					width: 100%;
					height: 100%;
					border: 6px solid #fff;
					@include box-sizing(border-box);
				}
			}
		}
	}

	>aside{
		position: absolute;
		top: 0;
		right: 0;

		>.prev{
			width: 46px;
			height: 46px;
			margin-top: 10px;
			border: 1px solid #ddd;
		}

		>.next{
			width: 46px;
			height: 46px;
			margin-top: 20px;
			border: 1px solid #ddd;
		}
	}
}

.draggerContainer{
	@include absoluteTopLeft;
	width: 0;
	height: 0;
	z-index: 10;
	@include perspective(4000px);
	@include transform-style(preserve-3d);

	>.dragger{
		position: absolute;
		border: 6px solid #fff;
		@include box-sizing(border-box);
		@include single-box-shadow(rgba(0, 0, 0, .14), 2px, 2px, 4px);
		@include transition(opacity .4s);
	}
}