$circle_size: 100px;
$cube_size: 80px;
$border_size: 7px;

>.home-button{

	position: absolute;
	top: 30px;
	left: 30px;
	@include roundButton( $circle_size, $border_size );

	.icon{
		@extend .icon-exit;
		font-size: 5.4em;
		color: $gray-ui;
	}
}

>.home-button-prompt{

	@extend %bordered-ui;
	@extend %arrow-left;
	position: absolute;
	top: 20px;
	left: 160px;
	padding: 3em 4em;
	opacity: 0;
	visibility: hidden;
	@include transition( opacity 200ms ease-out, visibility 200ms );
	@include animation( home-button-prompt-out 200ms ease-out both );

	&.shown{
		opacity: 1;
		visibility: visible;
		@include animation( home-button-prompt-in 1000ms linear both );
	}

	>h3{
		font-size: 1.8em;
		white-space: nowrap;
	}

	>.button-group{
		margin-top: 2em;

		>.primary-button{
			display: inline-block;

			&:first-child{
				margin-right: .65em;
			}
		}
	}
}

>.compass{

	@include absoluteTopLeft;

	>.roundButton{
		@include roundButton( $circle_size, $border_size );
	}

	&.grabbing{
		.outline{
			@include scale(1);
			opacity: 1;
		}
	}

	&.design{
		.cube{
			.design{
				opacity: 1;
			}
		}
	}

	&.browse{
		.cube{
			.design{
				opacity: 0;
			}
		}
	}

	&.hover-design{
		.cube{
			.design{
				opacity: 1 !important;
			}
		}
	}

	&.hover-browse{
		.cube{
			.design{
				opacity: 0 !important;
			}
		}
	}

	.cube{
		position: absolute;
		width: $cube_size;
		height: $cube_size;
		left: ($circle_size - $border_size * 2 - $cube_size) / 2;
		top: ($circle_size - $border_size * 2 - $cube_size) / 2;
		@include border-radius(50%);
		overflow: hidden;

		>div{
			@include absoluteTopLeft;

			>div{
				@include absoluteTopLeft;

				&.design{
					opacity: 0;
					@include single-transition( opacity, .5s );
				}
			}
		}
	}
}

>.book{
	$book_size: 80px;

	@include absoluteTopLeft;

	>.roundButton{
		@include roundButton( $circle_size, $border_size );
	}

	.icon{
		position: absolute;
		width: $book_size;
		height: $book_size;
		left: ($circle_size - $border_size * 2 - $book_size) / 2;
		top: ($circle_size - $border_size * 2 - $book_size) / 2;
	}
}

>.reminder{
	$circle_size: 100px;
	$border_size: 5px;
	@include absoluteTopLeft;

	&.active{
		>.character{
			>.roundButton{
				>.outline{
					@include scale(1);
					opacity: 1;
				}
			}
		}

		>.dialogue{
			@include animation( reminder-popup 1000ms linear both );
		}
	}

	>.character{
		>.roundButton{
			@include roundButton( $circle_size, $border_size );

			canvas{
				display: block;
				width: 90px;
				height: 90px;
			}
		}
	}

	>.dialogue{
		position: absolute;
		display: table;
		bottom: 130px;
		@extend %bordered-ui;
		@extend %arrow-bottom-right;
		@include animation( fade-out .25s ease-in-out both, reminder-drop .25s ease-in-out );
		right: 0;
		width: 40em;
		height: 7em;
		padding: 2.7em 2em;
		text-align: center;

		>.wrapper{
			display: table-cell;
			vertical-align: middle;

			>.hints{
				display: inline-block;
				vertical-align: middle;
				width: 27em;
				text-align: left;

				>li{
					color: $gray;
					font-size: 1.6em;
					line-height: 1.4;
					font-family: $font_marine;
					display: none;

					&.shown{
						display: block;
						@include animation( fade-in .25s ease-out both );
					}
				}
			}

			>button{
				display: inline-block;
				vertical-align: middle;
				@extend %arrow-button;
				font-size: 3em;
				margin: 0 (2em/3);

				&:first-child{
					margin-left: 0;
				}

				&:last-child{
					margin-right: 0;
				}
			}
		}
	}
}

>.objectSelector{
	position: absolute;
	margin-left: -28px;
	margin-top: -28px;
	@include retina-ui("circle-dot");
	overflow: visible;

	>.fill{
		position: relative;
		left: -2px;
		top: -2px;
	}
}

>.dropButton{
	position: absolute;
	margin: -60px;
	width: 120px;
	height: 120px;
	background: #fff;
	@include border-radius(50%);

	&.fadeIn{
		@include animation(fade-in-drop .4s forwards $easeOutExpo);
	}

	&.fadeOut{
		@include animation(fade-out-drop .4s forwards $easeOutExpo);
	}
}

>.progressBar{
	position: absolute;
	width: 100%;
	height: 0;
	text-align: center;

	>.inner{
		position: relative;
		display: inline-block;
		padding: 0 8em;
		height: 6.8em;
		background-color: rgba(255, 255, 255, .22);
		@include box-sizing(border-box);
		@include border-radius(4em);

		>button{
			position: absolute;
			margin: .25em;
			@include arrow-button( 4.5em, rgba(255, 255, 255, .6) );

			&.prev{
				left: 0;
			}

			&.next{
				right: 0;
			}
		}

		>.tips-wrapper{
			height: 100%;

			>.tips{
				position: relative;
				top: 50%;
				height: 0;
				white-space: nowrap;

				>li{
					position: relative;
					display: inline-block;
					vertical-align: top;

					&.nearby{
						>.dot{
							opacity: 1;

							>.inner{
								background-color: $yellow-ui;
							}

							>.outer{
								background-color: $yellow-ui;
								@include animation( pulse 1.25s infinite cubic-bezier( 0.66, 0, 0, 1) );
							}
						}
					}

					>.dot{
						position: relative;
						width: 0;
						height: 0;
						opacity: .4;

						>.inner{
							position: absolute;
							left: -8px;
							top: -8px;
							width: 16px;
							height: 16px;
							background-color: #fff;
							@include border-radius(50%);
						}

						>.outer{
							position: absolute;
							left: -11px;
							top: -11px;
							width: 22px;
							height: 22px;
							background-color: rgba(255, 255, 255, .25);
							@include border-radius(50%);
							@include scale(1);
							@include transition(transform .25s, opacity .25s);
						}
					}

					>.dialog{
						position: absolute;
						display: table;
						top: -16em;
						left: -6.6em;
						width: 13.2em;
						height: 11.5em;
						opacity: 0;
						visibility: hidden;
						@include translateY(20px);
						@include transition( opacity .25s $easeInOutCubic, transform .25s $easeInOutCubic, visibility .3s );
						@extend %bordered-ui;
						@extend %arrow-bottom;

						>.content{
							display: table-cell;
							vertical-align: middle;
							color: $darkgray-ui;
							opacity: .85;
							@include single-transition(opacity, .25s);

							&:hover{
								opacity: 1;
							}

							>.icon{
								position: relative;
								display: block;
								width: 100%;
								height: 50px;
								text-align: center;
								font-size: 50px;
								color: inherit;

								&:after{
									@include absoluteTopLeft;
									width: 100%;
									height: 100%;
									background: #fff;
									@extend .icon;
									@extend .icon-lock:before;
								}
							}

							>h6{
								position: relative;
								display: block;
								width: 100%;
								text-align: center;
								margin-top: .65em;
								font-size: 1.6em;
								color: inherit;
								text-transform: capitalize;

								&:after{
									@include absoluteTopLeft;
									width: 100%;
									height: 100%;
									background: #fff;
									content: "Locked";
								}
							}
						}

						&:hover{
							visibility: visible;
							opacity: 1;
							@include translateY(0px);
						}
					}

					&.unlocked{
						>.dot{
							opacity: 1;
						}

						&:hover{
							>.dot{
								>.outer{
									@include scale(1.4);
								}
							}
						}
					}

					&:hover{
						>.dot{
							>.outer{
								opacity: 1;
								@include scale(1);
							}
						}

						>.dialog{
							visibility: visible;
							opacity: 1;
							@include translateY(0px);
						}
					}

				}
			}
		}
	}
}