>.tutorial-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.tutorial{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -300px;
		margin-top: -225px;

		.steps{
			width: 470px !important;
		}

		.loader{
			display: none !important;
		}

		.skip{
			display: none !important;
		}
	}
}

>.opening-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.opening{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -32em;
		margin-top: -19.5em;
	}
}

>.ending-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.ending{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -32em;
		margin-top: -19.5em;
	}
}

>.finale-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.ending{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -32em;
		margin-top: -19.5em;
	}
}