&{
	position: absolute;
	display: table;
	width: 50%;
	max-width: 650px;

	&.left{
		left: 0;
	}

	&.right{
		right: 0;
	}

	>.popup-wrapper{
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		padding: 0 8.8em;

		>.popup{
			>.content{
				padding: 5em 6.5em 4em 6.5em;

				h1{
					margin-bottom: .2em;
				}

				h2{
					font-size: 1.8em;
					height: 3em;
					line-height: 3em;
					text-transform: uppercase;
				}

				>div{
					margin: 1.5em 0;
				}

				.primary-button{
					margin-top: 1em;
				}

				/* share */
				.share{
					>ul{
						>li{
							display: inline-block;
							vertical-align: top;
							margin: 0 .65em;

							&:first-child{
								margin-left: 0;
							}

							>a{
								@extend %round-social-button;
								font-size: 2.2em;
							}
						}
					}
				}

				/* */
			}
		}
	}
}

@import "captions/change-color";
@import "captions/change-picture";
@import "captions/fruits";