>.tutorial-overlay{
	@include absoluteTopLeft;

	>.tutorial{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: (-86em / 2);
		margin-top: (-50em / 2);

		.loader{
			display: none !important;
		}
	}
}

>.opening-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);
}

>.ending-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.ending{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -32em;
		margin-top: -19.5em;
	}
}

>.finale-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.ending{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -32em;
		margin-top: -19.5em;
	}
}

>.loader-overlay{
	@include absoluteTopLeft;
	background-color: rgba(0, 0, 0, .65);

	>.loader{
		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -160px;
		margin-top: -160px;
		width: 320px;
		height: 320px;

		>.spinner{
		}

		>.progress{
			position: absolute;
			top: 0;
			width: 100%;
			line-height: 320px;
			text-align: center;
			font-size: 40px;
			color: #fff;
		}
	}
}