@at-root {

	@include keyframes(fade-in-tooltip) {
	  0%{
	  	visibility: visible;
		opacity: 0;
		@include scale(0);
	  }
	  100%{
	  	visibility: visible;
		opacity: 1;
		@include scale(1);
	  }
	}


	@include keyframes(fade-out-tooltip) {
	  0%{
	  	visibility: visible;
		opacity: 1;
		@include scale(1);
	  }
	  100%{
	  	visibility: hidden;
		opacity: 0;
		@include scale(0);
	  }
	}

}

>.fadeIn{
	&:nth-child(1) {
		>.bar{
			@include animation-delay( .000s );
		}
	}

	&:nth-child(2) {
		>.bar{
			@include animation-delay( .025s );
		}
	}

	&:nth-child(3) {
		>.bar{
			@include animation-delay( .050s );
		}
	}

	&:nth-child(4) {
		>.bar{
			@include animation-delay( .055s );
		}
	}

	&:nth-child(5) {
		>.bar{
			@include animation-delay( .010s );
		}
	}

	&:nth-child(6) {
		>.bar{
			@include animation-delay( .015s );
		}
	}

	&:nth-child(7) {
		>.bar{
			@include animation-delay( .020s );
		}
	}

	&:nth-child(8) {
		>.bar{
			@include animation-delay( .025s );
		}
	}

	&:nth-child(9) {
		>.bar{
			@include animation-delay( .300s );
		}
	}

	&:nth-child(10) {
		>.bar{
			@include animation-delay( .350s );
		}
	}
}


>.fadeIn{
	>.bar{
		@include animation(fade-in-tooltip .5s $easeOutCubic both);
	}
}

>.fadeOut{
	>.bar{
		@include animation(fade-out-tooltip .5s $easeOutCubic both);
	}
}


>.tooltip{
	position: absolute;
	display: block;
	opacity: 1;
	visibility: visible;
	@include transition( opacity .5s ease-in-out, visibility .5s );

	&:hover{
		z-index: 20;
	}

	>.bar{
		position: absolute;
		top: -100px;
		left: -50px;
		width: 100px;
		height: 100px;
		overflow: hidden;
		background-color: rgba(255, 255, 255, .95);
		@include single-box-shadow(1px, 1px, 3px, 0px, rgba(0, 0, 0, .25));
		@include border-radius(50px);
		@include transition( width .4s $easeOutCubic, left .4s $easeOutCubic, background-color .4s ease-out );

		>.symbol{
			width: 100px;
			height: 100px;
			top: 0;
			left: 0;
			overflow: hidden;

			>.inner{
				white-space: nowrap;
				@include single-transition(transform, .25s);
				@include translateY(-100px);

				>.icon{
					display: block;
					width: 100px;
					height: 100px;
					text-align: center;
					line-height: 100px !important;
					color: $gray-ui;
					font-size: 50px;
				}

				>.icon-eye-open{
					font-size: 30px;
					color: $yellow-ui;
				}
			}
		}

		>h6{
			display: block;
			position: absolute;
			top: 0;
			left: 60px;
			width: 300px;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 100px;
			text-align: center;
			text-transform: capitalize;
			color: #fff;
			font-size: 30px;
		}

		&:hover{
			width: 400px;
			left: -200px;
			background-color: $gray-ui;

			.inner{
				@include translateY(0px);
			}
		}
	}

	&.hidden{
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	}

	&.locked{
		display: none;
	}
}