@import "global";
@import "debug";
@import "path-edit";

#main{
	width: 100%;
	height: 100%;
}

#main >.section{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&.episode{
		>.sceneUI{
			@include absoluteTopLeft;
			width: 100%;
			height: 0;
			@include user-select(none);

			>.controls{
				@include absoluteTopLeft;
				z-index: 2;

				@import "scene-controls";
			}

			>.captions{
				@include absoluteTopLeft;
				width: 0;
				height: 0;
				z-index: 3;

				>.captionView{
					@include absoluteTopLeft;
					width: 0;
					height: 0;

					>div{
						position: absolute;
						outline: 1px solid blue;

						&.intersected{
							background: rgba(255, 255, 255, .6);
						}

						&.left{
							width: 200px;
							height: 400px;
						}

						&.right{
							width: 400px;
							height: 400px;
						}

						&.top{
							width: 800px;
							height: 60px;
						}
					}

					@import "scene-captions";
				}
			}
		}

		>.sceneContainer{
			width: 100%;
			height: 100%;

			>canvas{
				position: absolute;
				display: block;
				top: 0;
			}
		}
	}
}

#home{
	>.preloader{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -2px;
		margin-left: -15%;
		width: 30%;
		height: 4px;
		background: snow;
		border: 1px solid silver;

		>.fill{
			width: 0;
			height: 100%;
			background: silver;
		}
	}
}

#stats{
	position: absolute;
	top: 0;
}