@import "global";
@import "debug";
@import "path-edit";

#main{
	width: 100%;
	height: 100%;
}

#main >.section{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&.episode{
		>.sceneUI{
			@include absoluteTopLeft;
			width: 100%;
			height: 0;

			>.controls{
				@include absoluteTopLeft;
				width: 100%;
				height: 0;
				z-index: 2;

				>.compass{
					@include absoluteTopRight;
					width: 80px;
					height: 80px;
					margin: 40px;
					background-color: #888;
					@include border-radius(50%);

					>.directions{
						width: 100%;
						height: 100%;

						>div{
							position: absolute;
							width: 20px;
							height: 20px;
							font-size: 12px;
							line-height: 20px;
							text-align: center;
							outline: 1px solid gray;
							@include user-select(none);

							&.n{
								top: 20px * .5;
								left: (80px - 20px) * .5;
							}

							&.s{
								bottom: 20px * .5;
								left: (80px - 20px) * .5;
							}

							&.w{
								top: (80px - 20px) * .5;
								left: 20px * .5;
							}

							&.e{
								top: (80px - 20px) * .5;
								right: 20px * .5;
							}
						}
					}
				}

				>.manipulator{
					position: absolute;

					>ul{
						>li{
							display: inline-block;
							margin: 10px;
							@extend .button;

							&:after{
								display: block;
								color: red;
								font-size: 30px;
								line-height: 50px;
								width: 50px;
								height: 50px;
								background: #ddd;
							}

							&.move{
								@include font-awesome("fa-arrows");
							}

							&.rotate{
								@include font-awesome("fa-refresh");
							}

							&.enter{
								@include font-awesome("fa-key");
							}

							&.place{
								@include font-awesome("fa-exchange");
							}

							&.change_accessory{
								@include font-awesome("fa-coffee");
							}

							&.close{
								@include font-awesome("fa-times-circle");
							}
						}
					}
				}

				>.objectSelector{
					position: absolute;
					width: 100px;
					height: 8px;
					background: #888;

					>.fill{
						width: 0%;
						height: 100%;
						background: blue;
					}
				}

				>.progressBar{
					position: absolute;
					width: 100%;
					height: 0;
					@include user-select(none);

					>.inner{
						margin: 0 auto;
						width: 800px;
						height: 8px;
						background: rgba(0, 0, 0, .4);

						>.tips{
							position: absolute;
							top: -16px;

							>li{
								position: absolute;
								width: 40px;
								height: 40px;
								background: #888;
								cursor: pointer;
							}
						}
					}
				}
			}
		}

		>.sceneContainer{
			width: 100%;
			height: 100%;

			>canvas{
				position: absolute;
				display: block;
				top: 0;
			}
		}
	}
}

#home{
	>.preloader{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -2px;
		margin-left: -15%;
		width: 30%;
		height: 4px;
		background: snow;
		border: 1px solid silver;

		>.fill{
			width: 0;
			height: 100%;
			background: silver;
		}
	}
}

#stats{
	position: absolute;
	top: 0;
}