@import "global";
@import "debug";
@import "path-edit";
@import "book/book";

#main{
	width: 100%;
	height: 100%;
}

#main-options{
	position: absolute;
	z-index: 1;
	left: 30px;
	bottom: 40px;

	>li{
		position: relative;
		margin-top: 15px;

		>button{
			position: relative;
			@include retina-ui("circle-small");
			@include single-transition(opacity, .25s);
			opacity: .67;

			&:hover{
				opacity: 1;

				>.fill{
					opacity: 1;
				}

				>.icon{
					>div{
						&:first-child{
							opacity: 1;
						}
					}
				}
			}

			>.fill{
				@include absoluteTopLeft;
				width: 26px;
				height: 26px;
				background-color: #3F3342;
				@include border-radius(50%);
				@include single-transition(opacity, .2s);
				opacity: 0;
			}

			>.icon{

				>div{
					@include absoluteTopLeft;
					@include single-transition(opacity, .2s);

					&:first-child{
						opacity: 0;
					}
				}
			}
		}

		>.howtoplay{
			.icon{
				>div{
					@include retina-icon("howtoplay");

					&:first-child{
						@include retina-icon("howtoplay-hover");
						z-index: 1;
					}
				}
			}
		}

		>.fullscreen{
			.icon{
				>div{
					@include retina-icon("fullscreenin");

					&:first-child{
						@include retina-icon("fullscreenin-hover");
						z-index: 1;
					}
				}
			}
		}

		>.sound{
			.icon{
				>div{
					@include retina-icon("soundoff");

					&:first-child{
						@include retina-icon("soundoff-hover");
						z-index: 1;
					}
				}
			}
		}

		&.share{

			&:hover{
				>button{
					opacity: 1;

					>.fill{
						opacity: 1;
					}

					>.icon{
						>div{
							&:first-child{
								opacity: 1;
							}
						}
					}
				}

				>.slider{
					opacity: 1;

					>.buttons{
						opacity: 1;
						width: 85px;
					}
				}
			}

			>button{
				z-index: 1;

				.icon{
					
					>div{
						@include retina-icon("social");

						&:first-child{
							@include retina-icon("social-hover");
							z-index: 1;
						}
					}
				}
			}
		}

		>.slider{
			position: absolute;
			top: 0;
			left: 13px;
			white-space: nowrap;
			opacity: 0;
			@include single-transition(opacity, .2s);

			&:after{
				content: '';
				display: inline-block;
				vertical-align: top;
				@include retina-ui("social-slider-end");
			}

			>.buttons{
				display: inline-block;
				vertical-align: top;
				overflow: hidden;
				@include retina-ui("social-slider-fill");
				@include single-transition(width, .2s);
				width: 0;

				>a{
					display: inline-block;
					vertical-align: middle;
					margin: 5px;
					@include single-transition(opacity, .25s);

					&:first-child{
						margin-left: 15px;
					}

					&:hover{
						opacity: .6;
					}

					&.facebook{
						@include retina-icon("facebook");
					}

					&.twitter{
						@include retina-icon("twitter");
					}

					&.google{
						@include retina-icon("google");
					}
				}
			}
		}
	}
}

#main >.section{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;

	&.episode{
		>.hud{
			@include absoluteTopLeft;
			width: 100%;
			height: 0;
			@include user-select(none);

			>.controls{
				@include absoluteTopLeft;
				z-index: 2;

				@import "scene-controls";
			}

			>.captions{
				@include absoluteTopLeft;
				width: 0;
				height: 0;
				z-index: 3;

				>.captionView{
					@include absoluteTopLeft;
					width: 0;
					height: 0;

					>div{
						position: absolute;
						outline: 1px solid blue;

						&.intersected{
							background: rgba(255, 255, 255, .6);
						}

						&.left{
							width: 200px;
							height: 430px;
						}

						&.right{
							width: 400px;
							height: 430px;
						}

						&.top{
							width: 800px;
							height: 60px;
						}
					}

					@import "scene-captions";
				}
			}
		}

		>.sceneContainer{
			width: 100%;
			height: 100%;

			>canvas{
				position: absolute;
				display: block;
				top: 0;
			}
		}
	}
}

#home{
	>.preloader{
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -2px;
		margin-left: -15%;
		width: 30%;
		height: 4px;
		background: snow;
		border: 1px solid silver;

		>.fill{
			width: 0;
			height: 100%;
			background: silver;
		}
	}
}

#stats{
	position: absolute;
	top: 0;
}

.floatText{
	margin: 200px;
	width: 300px;
	color: #6699FF;
	@include rotateY(-8deg);
	@include perspective(4000px);
	@include transform-style(preserve-3d);
	-webkit-font-smoothing: antialiased;

	>span{
		display: block;
		line-height: 26px;
		//outline: 1px solid red;
	}
}