.change-color{

	.colors{
		width: 100%;

		>li{
			display: inline-block;
			vertical-align: top;
			margin: 10px 20px 10px 0;

			&:last-child{
				margin-right: 0;
			}
			
			>.item-button{
				
			}
		}
	}
}