.change-object{

	.objects{
		width: 100%;

		>li{
			display: inline-block;
			vertical-align: top;
			margin: 10px 20px 10px 0;

			&:last-child{
				margin-right: 0;
			}

			>.item-button{

				// item classes
				&[data-object="rubberplant"] {
					@include retina-icon("rubberplant");
				}

				&[data-object="lucky-bamboo"] {
					@include retina-icon("luckybamboo");
				}
			}
		}
	}
}