&.changecolor{

	.color-selector{
		width: 100%;

		>li{
			display: inline-block;
			vertical-align: top;
			margin: 0 1em;

			&:first-child{
				margin-left: 0;
			}

			>.color{
				width: 7em;
				height: 7em;
				cursor: pointer;
				@include border-radius(100%);
			}
		}
	}
}