.change-picture{

	.pictures{
		width: 100%;

		>li{
			display: inline-block;
			vertical-align: top;
			margin: 10px 20px 10px 0;

			&:last-child{
				margin-right: 0;
			}
			
			>.item-button{

				// item classes
				&[data-picture="degree"] {
					@include retina-icon("degree");
				}

				&[data-picture="family"] {
					@include retina-icon("family");
				}

				&[data-picture="hug"] {
					@include retina-icon("hug");
				}

				&[data-picture="lecture"] {
					@include retina-icon("lecture");
				}
			}
		}
	}
}