.change-picture{

	.pictures{
		width: 100%;

		>li{
			display: inline-block;
			vertical-align: top;
			margin: 0 1em;

			&:first-child{
				margin-left: 0;
			}

			>.item-button{
				
			}
		}
	}
}