#book{
	@include absoluteTopLeft;
	width: 100%;
	height: 100%;
	z-index: 100;
	@include user-select(none);
	display: table;

	>.close-button{
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 2;
	}

	>.scroller-wrapper{
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;

		>.scroller{
			position: relative;
			width: 100%;
			overflow: hidden;

			>.inner{

				>ul{
					white-space: nowrap;

					>li{
						position: relative;
						display: inline-block;
						width: 25%;
						height: 0;
						padding-bottom: 35%;
						white-space: normal;
						margin: 0 10px;

						>figure{
							position: absolute;
							width: 100%;
							height: 100%;
							border: 1px solid #fff;
							@include box-sizing(border-box);
							color: #fff;
							background-size: cover;
							background-position: center center;

							>button{

							}
						}

						>.details{
							position: absolute;
							width: 150%;
							height: 100%;
							background-color: rgba(255, 255, 255, .95);
							color: #000;
							visibility: hidden;
						}
					}
				}
			}
		}
	}

	>.scrubber{
		position: absolute;
		left: 50%;
		bottom: 10%;
		margin-left: -200px;
		width: 400px;
		height: 10px;
		background: #555;
	 
		>.handle{
			position: relative;
			height: 100%;
			background: #fff;
		}
	}
}