#book{
	@include absoluteTopLeft;
	width: 100%;
	height: 100%;
	@include user-select(none);
	display: table;

	>.close-button{
		position: absolute;
		top: 5%;
		right: 40px;
		margin-top: -5px;
		z-index: 2;
		@include arrow-button( 4.8em, #fff, transparent, #fff, $darkgray-ui );
	}

	>h2{
		position: absolute;
		width: 100%;
		text-align: center;
		font-size: 3.2em;
		color: #fff;
		top: 5%;

		@media screen and (max-height: 600px) {
			font-size: 2.8em;
		}

		>.tip-counter{
			margin-left: .65em;
		}
	}

	>.scroller-wrapper{
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;

		>.scroller{
			position: relative;
			width: 100%;
			@include transform-origin(50% 50%);
			@include single-transition(transform, .5s, ease-in-out);
			@extend .zoom-in;

			&.zoom-out{
				@include scale(.55);
			}

			&.zoom-in{
				@include scale(1);
			}

			>.inner{

				>ul{

					>li{
						@include absoluteTopLeft;
						text-align: center;

						&.active{
							>.card{
								>.curtain{
									visibility: hidden;
									opacity: 0;
								}
							}
						}

						>.card{
							position: relative;
							margin: 0 auto;
							color: #000;
							background-color: #fff;

							>.curtain{
								position: absolute;
								z-index: 1;
								display: table;
								width: 100%;
								height: 100%;
								background-color: rgba(255, 255, 255, 1);
								visibility: visible;
								opacity: 1;
								@include transition(visibility .25s, opacity .25s ease-out);

								>.wrapper{
									display: table-cell;
									vertical-align: middle;
									text-align: center;

									>.icon{
										font-size: 8em;
										line-height: 1.2;
									}

									>h1{
										font-size: 2.8em;
										line-height: 1.4;
									}

									>h2{
										margin-top: 1.4em;
										font-size: 1.5em;
										line-height: 1.5;
										text-transform: capitalize;
										color: $darkgray-ui;

										>span{
											display: block;
										}
									}
								}
							}

							>.detail{
								position: relative;
								z-index: 0;
								width: 100%;
								height: 100%;

								>.screen{
									position: relative;
									height: 35%;
									background-size: cover;
									background-position: center center;

									>.loader{
										@include absoluteTopLeft;
										width: 100%;
										height: 100%;
										z-index: 2;
										background-image: image-url("loader-small-black.gif");
										background-repeat: no-repeat;
										background-position: center;
										background-color: #fff;
										opacity: 1;
										visibility: visible;
										-webkit-backface-visibility: hidden;
										@include transition(opacity .4s, visibility .4s);
										@include transition-delay(.5s);
									}

									&.loaded{
										>.loader{
											opacity: 0;
											visibility: hidden;
										}
									}
								}

								>.advice{
									position: relative;
									height: 65%;
									text-align: left;
									padding: 2em 2.5em;
									@include box-sizing(border-box);

									>h3{
										font-size: 2.8em;
										line-height: 1.4;
										color: $darkgray-ui;
										text-transform: capitalize;
									}

									>.scroller{
										@include absoluteTopLeft;
										padding: 80px 2.5em 90px 2.5em;
										width: 100%;
										height: 100%;
										overflow: hidden;
										@include box-sizing(border-box);

										>.content{
											display: block;
											width: 100%;
											height: 100%;
											padding-right: 50px;
											overflow-x: hidden;
											overflow-y: scroll;

											>p{
												font-size: 1.5em;
												line-height: 1.6;
												color: $darkgray-ui;
												@include box-sizing(border-box);

												>br{
													line-height: 3em;
												}

												>b{
													color: $blue;
												}
											}
										}
									}

									>.share{
										position: absolute;
										bottom: 2.5em;
										text-align: left;

										>li{
											display: inline-block;
											vertical-align: middle;
											margin: 0 .65em;

											&:first-child{
												margin-left: 0;
											}

											>a{
												@extend %round-social-button;
												font-size: 2.2em;
											}
										}
									}
								}
							}
						}

					}
				}
			}
		}
	}

	>.scrubber{
		position: absolute;
		left: 50%;
		bottom: 8%;
		margin-left: -200px;
		width: 400px;
		height: 6px;
		background: #555;
		@include border-radius(3px);
	 
		>.handle{
			position: relative;
			height: 100%;
			background: #fff;
			@include border-radius(3px);
		}
	}
}