#book{
	@include absoluteTopLeft;
	width: 100%;
	height: 100%;
	@include user-select(none);
	display: table;

	>.close-button{
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 2;
	}

	>.scroller-wrapper{
		display: table-cell;
		width: 100%;
		height: 100%;
		vertical-align: middle;

		>.scroller{
			position: relative;
			width: 100%;
			@include transform-origin(50% 50%);
			@include single-transition(transform, .5s, ease-in-out);
			@extend .zoom-in;

			&.zoom-out{
				@include scale(.55);
			}

			&.zoom-in{
				@include scale(1);
			}

			>.inner{

				>ul{

					>li{
						@include absoluteTopLeft;
						text-align: center;

						&.active{
							>.card{
								>.curtain{
									visibility: hidden;
									opacity: 0;
								}
							}
						}

						>.card{
							position: relative;
							margin: 0 auto;
							color: #000;
							background-color: #fff;

							>.curtain{
								position: absolute;
								z-index: 1;
								display: table;
								width: 100%;
								height: 100%;
								background-color: rgba(255, 255, 255, 1);
								visibility: visible;
								opacity: 1;
								@include transition(visibility .25s, opacity .25s ease-out);

								>.wrapper{
									display: table-cell;
									vertical-align: middle;
									text-align: center;

									>.icon{
										font-size: 10em;
										line-height: 1.2;
									}

									>h1{
										font-size: 2em;
										line-height: 3;
									}

									>h2{
										font-size: 2em;
										line-height: 1.5;

										>span{
											font-size: .65em;
											display: block;
										}
									}
								}
							}

							>.detail{
								position: relative;
								z-index: 0;
								width: 100%;
								height: 100%;

								>.screen{
									position: relative;
									height: 35%;
									background-size: cover;
									background-position: center center;

									>.loader{
										@include absoluteTopLeft;
										width: 100%;
										height: 100%;
										z-index: 2;
										background-color: #fff;
										opacity: 1;
										visibility: visible;
										@include transition(opacity .4s, visibility .4s);
										@include transition-delay(.5s);
									}

									>.overlay{
										@include absoluteTopLeft;
										width: 100%;
										height: 100%;
										z-index: 1;
										background-color: rgba(0, 0, 0, .45);
										opacity: 0;
										@include transition(opacity .25s);

										&:hover{
											opacity: 1;
										}

										>a{
											position: absolute;
											top: 50%;
											left: 50%;
											width: 100px;
											height: 100px;
											line-height: 100px;
											font-size: 60px;
											margin: -50px;
											color: rgba(255, 255, 255, .8);
										}
									}

									&.loaded{
										>.loader{
											opacity: 0;
											visibility: hidden;
										}
									}
								}

								>.advice{
									position: relative;
									height: 65%;
									text-align: left;
									padding: 2em 2.5em;
									@include box-sizing(border-box);

									>h3{
										font-size: 3em;
										padding: .25em 0 .5em 0;
										color: $darkgray-ui;
										text-transform: capitalize;
									}

									>p{
										font-size: 1.5em;
										line-height: 1.6;
										color: $darkgray-ui;

										>br{
											line-height: 3em;
										}
									}

									>.share{
										position: absolute;
										bottom: 2.5em;
										width: 100%;
										text-align: left;

										>li{
											display: inline-block;
											vertical-align: middle;
											margin: 0 .65em;

											&:first-child{
												margin-left: 0;
											}

											>a{
												display: block;
												padding: .5em .25em;
												font-size: 2.2em;
												border: 2px solid rgba(0, 0, 0, .05);
												color: $darkgray-ui;
												@include border-radius(50%);
												@include box-sizing(border-box);

												&:hover{
													border-color: $yellow-ui;
												}
											}
										}
									}
								}
							}
						}

					}
				}
			}
		}
	}

	>.scrubber{
		position: absolute;
		left: 50%;
		bottom: 8%;
		margin-left: -200px;
		width: 400px;
		height: 10px;
		background: #555;
	 
		>.handle{
			position: relative;
			height: 100%;
			background: #fff;
		}
	}
}