>.scroller{
	position: relative;
	width: 100%;
	height: 460px;
	top: 50%;
	margin-top: -230px;
	font-size: 0;
	overflow: hidden !important;

	.inner{
		position: relative;

		>ul{
			>.tip{
				position: absolute;
				//background: rgba(0, 0, 0, .05);

				>figure{
					position: absolute;
					height: 100%;

					>.icon{
						position: absolute;
						color: #FFFDF1;
						font-size: 40px;
						width: 64px;
						height: 64px;
						text-align: center;
						line-height: 64px;
					}

					>figcaption{
						position: absolute;

						>h1{
							font-size: 20px;
							font-family: $font_marineup_light;
							white-space: nowrap;

							>.share{
								position: relative;
								top: -2px;
								display: inline-block;
								margin-left: 10px;

								>.icon{
									display: inline-block;
									font-size: 16px;
									@include single-transition(opacity, .4s);
									opacity: 1;
								}

								>.slider{
									display: inline-block;
									opacity: 0;
									@include transition(opacity .4s, transform .4s);
									@include translateX(-4px);

									>li{
										display: inline-block;
										vertical-align: middle;

										>a{
											display: block;
											@include single-transition(opacity, .4s);
											font-size: 16px;
											opacity: .25;

											&:hover{
												opacity: 1;
											}
										}

										&:first-child{
											margin-left: 5px;
										}
									}
								}

								&:hover{
									>.icon{
										opacity: .25;
									}

									>.slider{
										opacity: 1;
										@include translateX(0px);
									}
								}
							}
						}

						>p{
							font-size: 13px;
							letter-spacing: 0.2px;
							line-height: 20px;
							margin: 2px 0;
							color: $gray;
							width: 227px;
							font-family: $font_marineup_light;
						}
					}
				}

				&.unlocked{
					&.red{
						>figure{
							>figcaption{
								>h1{
									color: $red;

									>.share{
										color: $red;
									}
								}
							}
						}

						&.up{
							&.unlocked1{
								&:before{
									@include retina-ui("tip-up-1-red");
								}
							}
							&.unlocked2{
								&:before{
									@include retina-ui("tip-up-2-red");
								}
							}
						}

						&.down{
							&.unlocked1{
								&:before{
									@include retina-ui("tip-down-1-red");
								}
							}
							&.unlocked2{
								&:before{
									@include retina-ui("tip-down-2-red");
								}
							}
						}
					}

					&.black{
						>figure{
							>figcaption{
								>h1{
									color: $black;

									>.share{
										color: $black;
									}
								}
							}
						}

						&.up{
							&.unlocked1{
								&:before{
									@include retina-ui("tip-up-1-black");
								}
							}
							&.unlocked2{
								&:before{
									@include retina-ui("tip-up-2-black");
								}
							}
						}

						&.down{
							&.unlocked1{
								&:before{
									@include retina-ui("tip-down-1-black");
								}
							}
							&.unlocked2{
								&:before{
									@include retina-ui("tip-down-2-black");
								}
							}
						}
					}

					&.yellow{
						>figure{
							>figcaption{
								>h1{
									color: $yellow;

									>.share{
										color: $yellow;
									}
								}
							}
						}

						&.up{
							&.unlocked1{
								&:before{
									@include retina-ui("tip-up-1-yellow");
								}
							}
							&.unlocked2{
								&:before{
									@include retina-ui("tip-up-2-yellow");
								}
							}
						}

						&.down{
							&.unlocked1{
								&:before{
									@include retina-ui("tip-down-1-yellow");
								}
							}
							&.unlocked2{
								&:before{
									@include retina-ui("tip-down-2-yellow");
								}
							}
						}
					}
				}

				&.locked{
					>figure{
						>.icon{
							top: 71px;
							left: 19px;
							@extend .icon-lock;
						}

						>figcaption{
							display: none;
						}
					}
				}

				&:before{
					content: "";
					position: absolute;
					display: block;
				}

				&.up{
					&:before{
						top: 7px;
					}

					&.locked{
						&:before{
							left: 16px;
							@include retina-ui("tip-up-locked");
						}
					}

					&.unlocked1{
						>figure{
							>.icon{
								top: 72px;
								left: 1px;
							}

							>figcaption{
								top: 5px;
								left: 93px;
							}
						}
					}

					&.unlocked2{
						>figure{
							>.icon{
								top: 71px;
								left: 15px;
							}

							>figcaption{
								top: 5px;
								left: 108px;
							}
						}
					}
				}

				&.down{
					&:before{
						top: -6px;
					}

					&.locked{
						&:before{
							left: 16px;
							@include retina-ui("tip-down-locked");
						}
					}

					&.unlocked1{
						>figure{
							>.icon{
								top: 71px;
								left: 1px;
							}

							>figcaption{
								bottom: 0;
								left: 95px;
							}
						}
					}

					&.unlocked2{
						>figure{
							>.icon{
								top: 71px;
								left: 15px;
							}

							>figcaption{
								bottom: 0;
								left: 108px;
							}
						}
					}
				}
			}
		}

	}
}

>.scrubber{
	position: absolute;
	left: 50%;
	bottom: 50px;
	margin-left: -100px;
	width: 200px;
	height: 20px;
	background: $yellow;

	>.handle{
		position: relative;
		height: 100%;
		background: $red;
	}
}

>.line{
	position: absolute;
	width: 100%;
	height: 1px;
	top: 50%;
	margin-top: -12px;
	background-color: $brown;
}